In [50]:
import pandas as pd
import datetime
import requests

day = datetime.datetime.now().strftime('%#d')

cookies = {'session': '53616c7465645f5f0e0be1a0761339e0465a495ff5069c3d6a10a11c0caac7cbc6403ee58544f377cea286763e468e79b8742f07a024cd201ef42047fbe56d2d'}
r = requests.get('https://adventofcode.com/2022/day/{0}/input'.format(day), cookies=cookies)

df = r.text.splitlines()
df = pd.DataFrame([x for x in e.split()] for e in df)

df = df.replace('X','A').replace('Y','B').replace('Z','C')
display(df)

      0  1
0     B  A
1     B  C
2     B  C
3     A  B
4     B  A
...  .. ..
2495  B  C
2496  B  C
2497  A  B
2498  A  B
2499  A  B

[2500 rows x 2 columns]

In [51]:
def label_outcome (row):
    if row[1] == 'A': #lose
        if row[0] == 'A': #rock
            return 'C'
        elif row[0] == 'B': #paper
            return 'A'
        elif row[0] == 'C': #sciccor
            return 'B'
    elif row[1] == 'B': #draw
        return row[0]
    elif row[1] == 'C': #win
        if row[0] == 'A': #rock
            return 'B'
        elif row[0] == 'B': #paper
            return 'C'
        elif row[0] == 'C': #sciccor
            return 'A'

df[2] = df.apply(label_outcome, axis=1)
display(df)

      0  1  2
0     B  A  A
1     B  C  C
2     B  C  C
3     A  B  A
4     B  A  A
...  .. .. ..
2495  B  C  C
2496  B  C  C
2497  A  B  A
2498  A  B  A
2499  A  B  A

[2500 rows x 3 columns]

In [52]:
for part in range(1,3):
    
    score = 0

    for i in range(len(df)):
        if df[0][i] == df[part][i]: #draw
            score += 3
            if df[part][i] == 'A': #rock
                score += 1
            elif df[part][i] == 'B': #paper
                score += 2
            elif df[part][i] == 'C': #scissor
                score += 3
        elif df[0][i] == 'A': #rock
            if df[part][i] == 'B': #paper
                score += 8
            elif df[part][i] == 'C': #scissor
                score += 3
        elif df[0][i] == 'B':  # paper
            if df[part][i] == 'A':
                score += 1
            elif df[part][i] == 'C':
                score += 9
        elif df[0][i] == 'C':  #scissor
            if df[part][i] == 'A': #rock
                score += 7
            elif df[part][i] == 'B': #paper
                score += 2
    print('Answer {0}: {1}'.format(part,score))

Answer 1: 15337
Answer 2: 11696